/*reset*/

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(153, 153, 153, 0.6);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

ul li,
ol li {
    list-style: none;
}

input,
select,
button {
    outline: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Arial", "Helvetica", "STHeiti", sans-serif;
    font-family: inherit;
}

html,
body {
    height: 100%;
}

body {
    font: normal 14px/1.14 "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Arial", "Helvetica", "STHeiti", sans-serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


/*content wrap*/

.g-main {
    min-height: 100%;
    margin-bottom: -120px;
    text-align: center;
    position: relative;
}


/*.g-main .g-row:first-child {
    padding-top: 80px;
}*/

.g-main:after {
    content: "";
    display: block;
    height: 120px;
    clear: both;
    margin-top: 61px;
}